*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
#app {
  width: 100vfh;
}
#upbar {
  background-color: darkgray;
  display: flex;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
}
#title {
  margin: auto 20px;
}
#save{  
}
#edit{
  height: 55px;
  width: 55px
}
#synchro{
}
#synchroImg{
}
#synchroTxt{
}
#actualiser{
}
main{
  margin-top: 75px;
}
#textDiv{
}
