*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
html{
  height: 100%;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
#app {
  width: 100vfh;
}
#upbar {
  background-color: darkgray;
  display: flex;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
}
#title {
  margin: auto 20px;
}
#save button{
  height: 55px;
  width: 55px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  background-color: white;
  font-size: 30px;
}

#edit img{
  height: 55px;
  width: 55px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
#synchro{
}
#synchroImg{
}
#synchroTxt{
}
#actualiser{
}
main{
  margin-top: 75px;
  height: 100%;
}
#textDiv, textarea{
  height: 100%;
  width: 100%;
}
#app main #textdiv textarea{
  resize: none;
}