*{
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
html{
  height: 100%;
}
body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: calc(100vh - 80px);
}
#app {
  width: 100vw;
  height: 100%;
}
#upbar {
  background-color: darkgray;
  display: flex;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100%;
}
#butons{
  display: flex;
}
#title {
  margin: auto 20px;
}
#save button{
  height: 55px;
  width: 55px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  background-color: white;
  font-size: 30px;
}

#edit img{
  height: 55px;
  width: 55px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
#synchro{
  margin: 0 0 0 20px;
}
#synchroImg{
  height: 45px;
  width: 50px;
}
#synchroImg img{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin-top: 3px;
  margin: 0 20px;
}
#actualiser img{
  height: 45px;
  width: 45px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  background-color: white;
  position: fixed;
  right: 10px
}
main{
  margin-top: 75px;
  height: 100%;
}
#textDiv{
  height: 100%;
}
textarea{
  resize: none;
  height: 98%;
  width: calc(96vw - 1.33px);
  margin: 5px 0 0 2%;
}

@media(max-width: 570px){
  #title{
    width: 110px
  }
}
@media(max-width: 480px){
  #synchroTxt{
    display: none;
  }
  #synchroImg img{
    margin: 10px 0 0 0;
  }
}
@media(max-width: 420px){
  #save button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    margin-top: 20px;
  }
  #edit img{
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 10px;
  }
  #synchro{
    margin: 0;
  }
  #synchroImg img{
    height: 40px;
    width: 40px;
    margin: 18px 0 0 10px;

  }
}
@media (max-width: 360px){
  #title{
    width: 70px;
    font-size: 12px
  }
}
@media(max-width: 320px){
  #actualiser #refreshImg{
    margin-top: 20px;
    height: 30px;
    width: 30px;
  }
}
@media(max-width: 305px){
   #upbar{
    height: 100px;
    display: block;
  }
  #title{
    width: 150px;
    margin: 10px auto 0;
  }
  #butons{
    display: flex;
  }
  #save #saveButton{
    margin: 10px 0 0 15px;
  }
  #edit img{
    margin: 10px 0 0 15px;
  }
  #synchroImg img{
    margin: 10px 0 0 15px;
  }
  #actualiser #refreshImg{
    margin-top: 10px;
    height: 30px;
    width: 30px;
  }
}
@media(max-width: 239px){
  *{
    display: none;
  }
}